<h1>Best Buy Store Search Results</h1>

<h2><%= @stores.count %> Total Stores</h2>

<%= @stores.each do |store| %>
  <p>Name: <%= store.long_name %></p>
  <p>City: <%= store.city %></p>
  <p>Distance: <%= store.distance %></p>
  <p>Phone: <%= store.phone %></p>
  <p>Store Type: <%= store.type %></p>
<% end %>
